# Introducción a Python

## ¿Que es programar?

In [ ]:
print('¡Hola Mundo!')
print('¿Cual es tu nombre?') # Preguntar por tu nombre
MiNombre = input()
print('¡Hola ' + MiNombre +'! que bueno conocerte.')
print("\n")
print('¿Sabías que tu nombre tiene una longitud de '+str(len(MiNombre)) +' cáracteres?')
print("\n")
print('¿Te puedo ayudar con tus cálculos financieros? Por ejemplo, si prestas determinada \
cantidad de dinero para ser devuelta en un mes a cierto tipo de interés te puedo \
ayudar en determinar tus ganancias.')
print("\n")
print('¿Cuánto dinero prestaste?:')
MontoPrestado=float(input('Escribe un numero: '))
print('¿A que tipo de interés?:')
TipoInteres=float(input('Escribe un numero en fracción(e.g 0.12): '))
Ganancia = MontoPrestado - MontoPrestado*TipoInteres
print('Tus intereses devengados son: ' + str(Ganancia) )

## Variables y tipos de variables

In [ ]:
Dinero  = 100

In [ ]:
Dinero

In [ ]:
Dinero2 = 100.5

In [ ]:
Dinero2

In [ ]:
type(Dinero)

In [ ]:
type(Dinero2)

In [ ]:
Dinero + Dinero2

In [ ]:
Nombre = "Juanes"

In [ ]:
Nombre

In [2]:
50 - 20

30

In [4]:
50 * 2

100

In [6]:
50 ** 2

2500

In [5]:
'Juan' * 3

'JuanJuanJuan'

In [7]:
len('Juan')

4

In [8]:
type(len('Juan'))

int

In [9]:
len('Juan') > 3

True

In [10]:
type(len('Juan') > 3)

bool

In [11]:
len('Juan') < 3

False

In [12]:
len('Juan') == 3

False

In [13]:
len('Juan') != 3

True

In [ ]:
list =

In [ ]:
type(Nombre)

In [ ]:
Apellido = "Mejia"

In [ ]:
Nombre + Apellido

In [ ]:
Dinero*2

In [ ]:
Nombre*6

In [ ]:
Depurar_alarma = True

In [ ]:
Depurar_alarma

In [ ]:
type(Depurar_alarma)

In [ ]:
Depurar_alarma2 = False

In [ ]:
Depurar_alarma

In [ ]:
Depurar_alarma + Depurar_alarma2

In [ ]:
Ejmp = 'Hola!!!!*'

In [ ]:
Ejmp

In [ ]:
Nombre + "_" + Apellido

In [ ]:
52000/120

In [1]:
# Asignamos el valor 3 a una variable que creamos, de nombre x
x = 3

# Evaluamos e imprimimos en pantalla el resultado
print(x)

3

In [ ]:
# Asignamos el valor 15.7 a una nueva variable, de nombre y
y = 15.7

print(y)

In [ ]:
# Podemos definir una nueva variable como la suma de dos anteriores
z = x + y

print(z)

Pero en las variables no necesariamente ponemos números, también podemos poner texto (*strings*)

In [ ]:
# Se peude tambier asignar un valor de texto otra variable
un_texto = 'HOLA!'

print(un_texto)

**Probar:** ejecutar la siguiente celda. ¿Cuál es la diferencia?

In [ ]:
print(un_texto)
print('un_texto')

Si queremos, podemos borrar alguna variable que ya no utilizaremos más

In [ ]:
del(un_texto)
print(un_texto)

In [ ]:
a = 42.5
print(type(a))

In [ ]:
a.is_integer()

In [ ]:
b = 7.8
print(type(b))

In [ ]:
b.is_integer()

In [ ]:
c = True
print(type(c))

In [ ]:
t1 = 'hola'
print(type("hola"))

t2 = '523'
print(type('t2'))

In [ ]:
# Este es un tipo especial de variable, que se utiliza para simbolizar algo 'vacio'
d = None
print(type(d))

In [ ]:
numero = 45
print(type(numero))

# Quiero que sea un 'float' y no un int
numero = float(45)
print(type(numero))

# Quiero que sea un 'string' y no un int
numero = str(45)
print(type(numero))

In [ ]:
otro_numero = 45.0
print(type(otro_numero))

# Quiero que sea un 'int' y no un 'float'
otro_numero = int(45.0)
print(type(otro_numero))

### La función print()

La función de print() muestra la cadena de valor dentro de los paréntesis en la pantalla.

In [ ]:
Nombre

In [ ]:
print(Nombre)

In [ ]:
print('¡Hola Mundo!')
print('¿Cual es tu nombre?')
print ('Mi edad es '+str(19))
print ('El proximo año tendré '+str(19+1))

In [ ]:
print('¡Hola Mundo!')
print('¿Cual es tu nombre?')

In [ ]:
print ('Mi edad es '+ str(19))

In [ ]:
Nombre = 'Juan Esteban MEJIA'

In [ ]:
Nombre

In [ ]:
Nombre.lower()

In [ ]:
print('Penny..'*5)

In [ ]:
Nombre='James'
Apellido='Bond'
print('Mi nombre es '+Apellido+', '+Nombre+' '+Apellido+'.')

In [ ]:
print('Mi nombre es %s, %s %s.' % (Apellido, Nombre, Apellido))

In [ ]:
Edad = 40

In [ ]:
'Mi hombre es {0} {1} y mi edad {2}'.format(Nombre ,Apellido, Edad  )

### La funciones 'str()', int (), y float() y los objetos de Python

Computers manipular los valores de datos que representan la información y estos valores pueden ser de diferentes tipos. De hecho, cada valor en un programa de Python es de un tipo específico. El tipo de datos de un valor determina cómo se representan los datos en el ordenador y qué operaciones se pueden realizar en esos datos. Un tipo de datos proporcionado por el lenguaje itselfis llama un tipo de datos primitivo.

Si desea concatenar un número entero tal como 29 con una cadena para pasar a imprimir (), que necesita para obtener el valor '29', que es la forma de cadena 29. La función str () se puede pasar un número entero valor y evaluará a una versión valor de cadena de la misma, como sigue:

In [ ]:
Agente=13
print(Agente)
print('Soy el agente '+str(Agente))

In [ ]:
print('Mi nombre es %s, %s %s.El Agente %d' % (Apellido, Nombre, Apellido, Agente))

In [ ]:
type(Agente)

In [ ]:
type('Mi nombre es Bond')

### La función input()

La función de input() espera a que el usuario escriba un texto en el teclado y presione en ENTER.

In [ ]:
input('Por fa dijame su edad')

In [ ]:
Edad = input('Por fa dijame su edad')

In [ ]:
Edad

In [ ]:
type(Edad)

In [ ]:
input('¿Cúal es el precio del dólar actual?')

### 1.3 Operaciones

In [ ]:
a = 20
b = 4
print(a+b)
print(a-b)

Se pueden realizar las operaciones incluso entre distintos tipos de variables

In [ ]:
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

¿De qué tipo es la variable resultante? Trata de adivinarlo antes de correr la celda siguiente.

In [ ]:
print(type(c))
print(type(d))

También podemos dividir números.

In [ ]:
x = 10
y = 3
z = x/y
print(z)

### Python como calculadora

¿ Si tengo 2 MM de pesos por cuantos dólares los puedo cangear?

Recuerde: [input('¿Cúal es el precio del dólar actual?')]. Ahora, lo que nesesitamos es entrar un número que sea e tipo de cambio. Comvertiremos el string en tipo númerico para despues hacer la conversion a dolares.

In [ ]:
TipoCambio = float(input('¿Cúal es el tipo de cambio del dólar-peso actual? '))

In [ ]:
Pesos = float(input('¿Cuantos pesos va a cambiar?'))

In [ ]:
Dolares = Pesos/TipoCambio
Dolares

Más adelante veremos cmo hacer wed Scraping que nos permitira jararnos datos de web para asi obtener e tipo de cmabio actual y poder hacer una pequeña aplicacion de conversión de monedas.

In [ ]:
round(Dolares, 3)

Pasemos a calcular el resultado de una inversión P a una tipo de interés r(no espresada como fracion, esto para practicar los operadores arirtmeticos) en un tiempo n (la composición es en este periodo

In [ ]:
p=50
r=13
n=3
p*(1 + r/100)**n

In [38]:
mi_dict =  {'carro':25 , 'carro3':15  }

In [40]:
mi_dict.get('carro')

25

## *Ejercicio Individual* 

Cree un programa (scrip) que calcule el área de un círculo. Los elementos para el calculo del área los debe dar el usuario ( Es decir usar la función input())

hints:

- Area del Circulo = $\pi$ * $R^2$ 
- $\pi$ =  3.141592653589793

In [34]:
input()

 23

'23'

In [35]:
numero = input()

 65

In [37]:
type(numero)

str

In [41]:
mi_lista =  [ 21, 56]

In [42]:
mi_lista

[21, 56]

In [43]:
mi_lista[0] = 65

In [44]:
mi_lista

[65, 56]

In [ ]:
Area del Circulo =  𝜋  *  𝑅2

In [45]:
𝜋  = 3.141592653589793

In [53]:
r = float(input())

 35 cm

ValueError: could not convert string to float: '35 cm'

In [50]:
type(r)

float

In [52]:
area = 𝜋 * (r ** 2)
area

3848.4510006474966

## 2. Listas y Loops

Ya vimos los tipos de datos básicos de Python. Es hora de empezar a combinarlos.

### 2.1 Listas

Las listas un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes `[]`, y los objetos dentro de ellas se separan por comas `,`. Veamos un ejemplo:

In [14]:
lista = ["Huevos" , "Pollo" , "Cereal" ]

In [15]:
lista

['Huevos', 'Pollo', 'Cereal']

In [16]:
type(lista)

list

In [17]:
lista2 = ["Huevos" , 50 , "Cereal" , True]

In [18]:
lista2

['Huevos', 50, 'Cereal', True]

In [20]:
lista2[2]

'Cereal'

In [21]:
lista2[0:2]

['Huevos', 50]

In [22]:
lista2[-1]

True

In [23]:
lista2.append(30)

In [24]:
lista2

['Huevos', 50, 'Cereal', True, 30]

In [25]:
'Juan Esteban'

'Juan Esteban'

In [33]:
'Esteban '.strip()

'Esteban'

In [32]:
'Juan Esteban'.split(' ')

['Juan', 'Esteban']

In [ ]:
lista_1 = [42, 10.7, True, 'Texto']
print(lista_1)

c(42, 10.7, True, 'Texto' )

**Notar** que la lista puede contener varios tipos de datos diferentes sin ningún problema.

Una pregunta muy usual que uno hace cuando trabaja con listas es cuántos elementos tiene. Esto lo podemos responder con el comando `len()`

In [ ]:
len(lista_1)

#### Indexado

Cada elemento de una lista tiene asignada una posición (*índice*) que podemos usar para inspeccionar ese elemento u operar con él. Los índices **empiezan en 0**, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]

print(lista_2[0])
print(lista_2[1])
print(lista_2[2])

**Ejercicio**: imprimir el séptimo elemento de `lista_2`. Asegurarte que lo hiciste bien contando los elementos de la lista.

In [ ]:
print(lista_2[6])

También podemos seleccionar porciones de la lista, no solamente de a un elemento por vez.

In [ ]:
print(lista_1[0:3])
print(lista_2[4:])
print(lista_2[1:5:2])

¿Cuál es la lógica que gobierna esta sintaxis? Juega un poco con ella y fíjate si logras descubrir la regla. Sino, también puedes googlear qué es *slicing*.

Algo más sobre indexado. Podemos indexar *desde el final* de la lista usando números negativos.

In [ ]:
print(lista_2[-1])
print(lista_2[-2])
print(lista_2[-8])

Veamos una cosita más. Creemos una tercera lista

In [ ]:
# Definimos una segunda lista
lista_3 = [0, lista_1, 'Mas texto', lista_2]
print(lista_3)
print(len(lista_3))

Notemos que en esta tercera lista, agregamos dentro la primera y la segunda lista. Ambas listas ahora son elementos de esta tercera lista. Prestar particular atención a cuántos elementos tiene `lista_3`. ¡No importa cuántos elementos tienen `lista_1` o `lista_2`, dentro de `lista_3` solamente cuentan como uno!

In [ ]:
print(lista_3[1])

**Ejercicio:** tomando `lista_1` desde `lista_3` (lo que acabamos de hacer en la celda anterior), indexar el tercer elemento de `lista_1`. Debería darte como resultado `True`.

In [ ]:
print(lista_3[1][2])

**Lista Vacía y `append()`**

Podemos crear listas vacias e ir agregándole elementos con el método `append()`

In [ ]:
lista_vacia = []
len(lista_vacia)

In [ ]:
lista_vacia.append(42)
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

Prueba qué pasa si corren nuevamente la celda anterior (justo arriba de ésta). Notar que el método `append()` no solamente trabaja en listas vacías.

**Ejercicio**: Define una lista vacia llamada `lista_nueva` y agréguele (`append()`) los elementos `a`, `b` y `c`.

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]

lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
lista_nueva.append('estoE#sNeuvo')

print(lista_nueva)

**CUIDADO:** a veces queremos copiar una lista, operar sobre ella y comparar los resultados con la lista original. Sin embargo, hay que tener cuidado cuando queremos copiar listas

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  # lista_2 ahora es igual a lista_1
lista_2[-1] = 100 # el ultimo elemento de la lista_2 ahora es 100
print(lista_1, lista_2)

¡Notar que se modificaron ambas listas! Esto, en general, no es lo deseado. Pero podemos hacerlo bien:

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy() # Prestar atención aquí
lista_2[-1] = 100
print(lista_1, lista_2)

¡Ahora no! Es decir, si queremos copiar listas, debemos poner `.copy()`. Esto no solo vale para listas, sino para objetos que veremos en los próximos encuentros, como arreglos de Numpy y dataframes de Pandas.

### 2.2 Loops

En general, cuando estamos programando, queremos repetir una operación varias veces. Por ejemplo, aplicarle una operación a los elementos de una lista. Si la lista tiene muchos elementos, puede ser engorroso escribir la aplicación de esa operacíon a cada elemento uno por uno, por lo que necesitamos alguna estructura de código que facilite esa sintaxis. 

Los **Loops** (bucles) son estructuras de codigo fundamentales en cualquier lenguaje de programación. Consisten en bloques de código que se repiten una cierta cantidad de veces dada una condición. Existen dos formas básicas de crear loops, las instrucciones tipo `for` y las instrucciones tipo `while`. Te vamos a contar de qué se tratan los `for`, si te interesa pueden googlear cómo funcionan los `while`.

El `for` es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista. Veamos un ejemplo:

In [54]:
lista_numeros = [3,55,1,876,12]
for numero in lista_numeros:
    # Definimos el codigo dentro del for mediante la indentación
    # (Todo lo que este corrido un 'tab' a la derecha)
    print(numero)
    print(numero/2)

3
1.5
55
27.5
1
0.5
876
438.0
12
6.0

Prestar particular atención a que el código que está "dentro" del `for` está **indentado**. En algunos lenguajes de programación la indentación se utiliza para ordenar el código, hacerlo más legible. En Python, en cambio, es **obligatorio**. Se logra con cuatro espacios o un tab.

Repitamos los mismo que la celda anterior. pero ahora agregamos una variable `i` que cuenta la cantidad de veces que recorrimos el bucle `for` .

In [ ]:
lista_numeros = [3,55,1,876,12]
i = 0 # La iniciamos en cero

for elemento in lista_numeros:    
    i = i+1 # Le sumamos 1 cada vez que entra
    print(elemento, i)

Tomarte unos minutos para entender qué hace la línea `i = i + 1`.

También podemos recorrer listas de texto. Presten atencion al siguiente codigo, e intenten precedir el resultado antes de correr la celda.

In [55]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

# Este print esta fuera del bucle, no está indentado
print(nueva_lista)

['Mi nombre es Ernesto', 'Mi nombre es Camilo', 'Mi nombre es Violeta']

In [59]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
lista_precios = [120, 150, 70, 30]


for item in lista_nombres:
    oracion = 'Para ' + item
    print(oracion)
    for price in lista_precios:
        
        if price >= 100:
            print(price * 0.9)
        elif price >= 50:
            print(price)
            print(price * 0.95)
        else:
            print('No descuento')

Para Ernesto
108.0
135.0
70
66.5
No descuento
Para Camilo
108.0
135.0
70
66.5
No descuento
Para Violeta
108.0
135.0
70
66.5
No descuento

Terminamos las explicaciones por el momento. Sabemos que fue bastante y que probablemente estés cansado/a. Recomendamos tomarte un tiempo para descansar y, luego, intentar los siguientes ejercicios. Es MUY importante intentarlo, no importa si sientes que no terminan de resolverlos.

## Ejercitación

En general, no hay una única forma de resolver los ejercicios que vamos a dejar. Lo que sí ocurre, a veces, es que hay formas más *eficientes* o *prolijas*. No debes preocuparte por eso ahora, lo importante es intentar resolverlos.

**Ejercicios 1 y 2 - Challenge:** Si tenemos una lista de números, por ejemplo los primeros diez numeros naturales, e intentamos sumarle un número fijo a la lista, por ejemplo 3, tal vez intentemos algo parecido a lo siguiente:

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
print(numeros + 3)

¡Nos salta un error! (Notar que la opción de Googlear el error en Stack Overflow esta vez es más informativa.). Entonces, te proponemos que resuelvas los siguientes ejercicios:


1. Crear una rutina que le sume tres a los diez primeros números naturales y vaya imprimiendo en pantalla a medida que lo hace.
2. Crear una rutina que le sume tres a los diez primeros números naturales y guarde los resultados en una nueva lista. Al final, imprimir esa lista en pantalla.

Si necesitas unas pistas, puedes clickear [aquí](https://colab.research.google.com/drive/1gfqynizt4gSsitlZELigCL1jIdlYkpmS), ¡pero te recomendamos que antes lo intentes!

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
for numero in numeros:
    print(numero + 3)

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
resultados = []
for numero in numeros:
    resultados.append(numero + 3)
print(resultados)

**Para investigar y pensar**: ¿qué ocurriría si, en lugar de querer sumarle un número a los diez primeros números naturales, quisiéramos hacerlo sobre los primeros cien?¿Y si fuera el primer millón de números naturales?¿La rutina que creaste es fácilmente adaptable? Investiga cómo podrías adaptarla. Pista: `range()`

In [ ]:
N = 100
resultados = []
for numero in range(N):
    resultados.append(numero + 3)
print(resultados)

**Ejercicio 3**: Genere una lista llamada `numerotes` que contenga el cuadrado de cada elemento en la lista `numeritos`.

In [ ]:
numeritos = [3,1,5,7,12,10,17,4,22]
numerotes = []
for numero in numeritos:
    numerotes.append(numero**2)
print(numerotes)

**Ejercicio 4:** estudiar qué ocurre si sumas,`+`, dos listas. ¿Cómo se llama esa operación?

In [ ]:
lista_1 = [1,5,-8,3]
lista_2 = [True, 'Cocodrilo que se duerme es cartera', 9, -17, 98, False]
print(lista_1 + lista_2)

La operación se llama concatenación. En este caso, de listas.

**Ejercicio 5:** sumar todos los elementos de la siguiente lista. **Pistas:**
* En un ejemplo anterior definimos una variable `i`, inicializada en cero, que fuimos modificando en cada paso de un `for`. Considerar la opción de definir una variable `suma` y utilizarla de forma parecida.

In [ ]:
numeros = [4,8,3,1,-3,3,-5,1,2,-8]
suma = 0
for numero in numeros:
    suma = suma + numero
print(suma)

## Miremos flujos de control **While** y de decisiones con un Ejemplo

In [60]:
# *Dar contexto
print("\nBienvenidos al gimnacio. Que quieres hacer?")

# configurar el valor inicial
choice = ''

# Iniciar el ciclo hasta qeu el usuario digite "quit"
while choice != 'q':
   
    print("\n[1] Digite 1 para tomar una bicicleta estatica.")
    print("[2] Digite 2 para ir a las pesas.")
    print("[3] Digite 3 para ir a la clase de yoga.")
    print("[q] Digite q para quitar este menú.")
    
    # Preguntarle al usuario 
    choice = input("\nQue quieres hacer? ")
    
    # Respond to the user's choice.
    if choice == '1':
        print("\nAqui esta tu bici. Diviertase!\n")
    elif choice == '2':
        print("\nEste es el cuarto de pesas. Go for more!\n")
    elif choice == '3':
        print("\nEste es el nombre de tu entrenado de yoga, Braulio.\n")
    elif choice == 'q':
        print("\nGracias por venir , visitanos pronto.\n")
    else:
        print("\nNo entiendo tu decision, Intenta de nuevo porfa.\n")
        
# Print a message that we are all finished.
print("Gracias de nuevo, nos veremso pronto.")

Bienvenidos al gimnacio. Que quieres hacer?

[1] Digite 1 para tomar una bicicleta estatica.
[2] Digite 2 para ir a las pesas.
[3] Digite 3 para ir a la clase de yoga.
[q] Digite q para quitar este menú.

Que quieres hacer?  1

Aqui esta tu bici. Diviertase!


[1] Digite 1 para tomar una bicicleta estatica.
[2] Digite 2 para ir a las pesas.
[3] Digite 3 para ir a la clase de yoga.
[q] Digite q para quitar este menú.

Que quieres hacer?  3

Este es el nombre de tu entrenado de yoga, Braulio.


[1] Digite 1 para tomar una bicicleta estatica.
[2] Digite 2 para ir a las pesas.
[3] Digite 3 para ir a la clase de yoga.
[q] Digite q para quitar este menú.

Que quieres hacer?  2

Este es el cuarto de pesas. Go for more!


[1] Digite 1 para tomar una bicicleta estatica.
[2] Digite 2 para ir a las pesas.
[3] Digite 3 para ir a la clase de yoga.
[q] Digite q para quitar este menú.

Que quieres hacer?  1

Aqui esta tu bici. Diviertase!


[1] Digite 1 para tomar una bicicleta estatica.
[2] Digite 2 para ir a las pesas.
[3] Digite 3 para ir a la clase de yoga.
[q] Digite q para quitar este menú.

Que quieres hacer?  q

Gracias por venir , visitanos pronto.

Gracias de nuevo, nos veremso pronto.

## Ejercicios

- J. B. Büttner, maestro de un colegio alemán, castigó a todos los niños poniéndoles como tarea sumar los 100 primeros números naturales para tenerlos entretenidos y callados un buen rato. Carl Friedrich Gauss obtuvo la respuesta casi de inmediato, encontrando una fórmula para la suma de una serie de números naturales. No pedimos aquí llegar a la fórmula. Lo que pedimos en este ejercicio es hacer un programa que lo calcule sin utilizar la fórmula.

- Tome las siguintes listas 

postres = ['torta', 'chocolate', 'galletas', 'helado'] 

postre_favorito = 'galletas'

Para cada uno de los postres diga que le gusta pero para su postres favorito comente que es justamente su favorito.

- Convierta lo siguiente en código que use un bucle while.

2

4

6

8

10

¡Adiós!

- Realice  el ejercicio anterior pero con un for

## Funciones

In [69]:
def mi_funcion( x:int , y:int ) -> float:
    x = x + 10
    Y = y - 5
    
    return x / y

In [63]:
resultado = mi_funcion( 20 , 60 )

In [64]:
resultado

0.5

In [65]:
mi_funcion( 1 , 5 )

2.2

In [66]:
mi_funcion( 20 , 60 )

0.5

### Ventaja de hacer funciones

Es posible que pueda ver algunas ventajas de usar funciones a través de este ejemplo:

- Escribimos un conjunto de instrucciones una vez. Ahorramos algo de trabajo en este ejemplo simple y ahorramos aún más trabajo en programas más grandes.

- Cuando nuestra función funciona, ya no tenemos que preocuparnos por ese código. Cada vez que repite el código en su programa, presenta la oportunidad de cometer un error. Escribir una función significa que hay un lugar para corregir errores, y cuando esos errores se corrijan, podemos estar seguros de que esta función seguirá funcionando correctamente.

- Podemos modificar el comportamiento de nuestra función, y ese cambio entra en vigor cada vez que se llama a la función. Esto es mucho mejor que decidir que necesitamos un comportamiento nuevo y luego tener que cambiar el código en muchos lugares diferentes de nuestro programa.

In [67]:
def mostrar_estudientes(estudinte, mensaje):
    #
    print(mensaje)
    for est in estudinte:
        print("- " + est.title())

In [68]:
estudiantes = ['Lucas', 'Agus', 'Mariano']

# Poner lso estudintes en orden alfabetico
estudiantes.sort()
mostrar_estudientes(estudiantes, "Nuestros estdudintes en orden alfabetico.")

#Poner lso estudintes en orden inverso al alfabetico
estudiantes.sort(reverse=True)
mostrar_estudientes(estudiantes, "\nNuestros estudintes en orden inverso al alfabetico.")

Nuestros estdudintes en orden alfabetico.
- Agus
- Lucas
- Mariano

Nuestros estudintes en orden inverso al alfabetico.
- Mariano
- Lucas
- Agus